:root {
    --primary-background-color: rgba(55, 61, 61, 1);
    --dark-splash-color: rgba(26,87,106,1);
    --primary-color: rgba(63, 124, 133, 1);
    --secondary-color: rgba(102, 200, 211, 1);
    --tertiary-color: rgba(114, 242, 235, 1);
    --splash-color: rgba(255, 94, 93, 1);
}

.bodyText {
    color:var(--secondary-color)
}

.popText{
    color:var(--splash-color)
}

.bioPic {
    max-width: 200px;
    height:auto;
    width: auto;
}

.borderLine {
    border-bottom: 5px solid var(--splash-color);
    max-width: 100%;
    min-width: 200px;
    margin: 0 auto;
}

.navTitle{
    color:var(--tertiary-color)
}

.navActive{
    color:var(--tertiary-color);
}

.footerImg{
    max-width: 75px;
    max-height: 75px;
    height:auto;
    width: auto;
    margin: 10px;
}