:root {
    --primary-background-color: rgba(55, 61, 61, 1);
    --dark-splash-color: rgba(26,87,106,1);
    --primary-color: rgba(63, 124, 133, 1);
    --secondary-color: rgba(102, 200, 211, 1);
    --tertiary-color: rgba(114, 242, 235, 1);
    --splash-color: rgba(255, 94, 93, 1);
}

.main-container {
    min-height: 800px;
}

.hero {
    background-image: url("../src/assets/images/Banner_Illustration.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5) 25%,rgba(0,0,0,.5) 75%,rgba(0,0,0,0)100%); */
    width: 100%;
}

.title-bar h1 {
    color: white;
    font-size: 100px;
    border-bottom: 5px solid var(--splash-color) ;
    text-shadow: 0 0 7px black;    
}



.bodyText {
    color:var(--secondary-color);
}

.popText{
    color:var(--splash-color);
}

.linkText{
    color:var(--tertiary-color);
}

.linkText:hover{
    color:var(--splash-color);
}

.bioPic {
    max-width: 200px;
    height:auto;
    width: auto;
}


.borderLine {
    border-bottom: 5px solid var(--splash-color);
    max-width: 100%;
    min-width: 200px;
    margin: 0 auto;
}

.navTitle{
    color:var(--tertiary-color)
}

.navActive{
    color:var(--splash-color);
}

.footerImg{
    max-width: 75px;
    max-height: 75px;
    height:auto;
    width: auto;
    margin: 10px;
}

.bio-section {
    display: flex;
    justify-content: center;
}

.bio-section img {
    width: 200px;
    max-height: 283px;
    box-shadow: 0 0 7px black;
}

@media screen and (max-width: 980px) {

    section {
        padding: 30px;
    }

}

/* Formatting for tablets and smaller */
@media screen and (max-width: 768px) {

    .title-bar h1 {
        font-size: 50px;
    }
}

/* Formatting for smartphones and smaller*/
@media screen and (max-width: 575px) { 

    .title-bar h1 {
        font-size: 40px;
    }

}